.col {
    float: left;
  width: 75%;
  margin-top: 10px;
   
    
}
.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.resize{
    margin-top:20px ;
}

.example-container{
    width: 100%;
}