
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile><h3><b>Name</b></h3></mat-grid-tile>
    <mat-grid-tile> <h3><b>Slot Date</b></h3></mat-grid-tile>
    <mat-grid-tile> <h3><b>Slot Time</b></h3></mat-grid-tile>
  <mat-grid-tile> <h3><b>Underline</b></h3></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="35px">
    <mat-grid-tile>Teacher</mat-grid-tile>
    <mat-grid-tile>13/12/1000</mat-grid-tile>
    <mat-grid-tile>0700</mat-grid-tile>
  <mat-grid-tile>
      <button  mat-raised-button color="primary">Underline</button>
  </mat-grid-tile>
  </mat-grid-list>