<!-- <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>Name</mat-grid-tile>
    <mat-grid-tile>Email</mat-grid-tile>
  </mat-grid-list> -->

  <!-- <h1>Student</h1>
<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile>Name</mat-grid-tile>
  <mat-grid-tile>Email</mat-grid-tile>
  <mat-grid-tile>10th Marksheet</mat-grid-tile>
  <mat-grid-tile>12th Marksheet</mat-grid-tile>
  <mat-grid-tile>Below Poverty Line Card</mat-grid-tile>
</mat-grid-list> -->

<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Student">
            <mat-nav-list >
                <mat-list-item >
                    <a matLine >Student</a>
                    <button (click)="openDialog()" mat-raised-button color="primary">
                        Verify
                    </button>
                </mat-list-item>
            </mat-nav-list>
        </mat-tab>
        <mat-tab label="Teacher">
            <mat-nav-list >
                <mat-list-item >
                    <a matLine >Teacher</a>
                    <button  mat-raised-button  color="primary">
                        Verify
                    </button>
                </mat-list-item>
            </mat-nav-list>
        </mat-tab>
        
      </mat-tab-group>
</div>
