<mat-sidenav-container class="sidenav-container">
    
    <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="this.router.navigate(['home/profile'])">Profile</a>
        <a mat-list-item *ngIf="access=='student' && verified" (click)="this.router.navigate(['home/registerbatch'])">Register for Batches</a>
        <a mat-list-item *ngIf="access=='student' && verified && completed" (click)="this.router.navigate(['home/viewjobs'])">Jobs</a>
        <a mat-list-item *ngIf="access=='student' && verified" (click)="this.router.navigate(['home/currentbatch'])">Current Batch</a>
        <a mat-list-item *ngIf="access=='teacher' && verified "(click)="this.router.navigate(['home/teacherbatch'])">Batches</a> 
        <a mat-list-item *ngIf="access=='teacher' && verified " (click)="this.router.navigate(['home/teacherattendance'])">Attendance</a> 
        <a mat-list-item *ngIf="access=='admin'" (click)="this.router.navigate(['home/adminverify'])">Verification</a> 
        <a mat-list-item *ngIf="access=='admin'" (click)="this.router.navigate(['home/adminrequests'])">Slot Requests</a> 
        <a mat-list-item *ngIf="access=='admin'" (click)="this.router.navigate(['home/admincreatebatch'])">Create Batch</a> 
        <a mat-list-item *ngIf="access=='admin'" (click)="this.router.navigate(['home/adminjobs'])">Jobs Overview</a> 
        
        
      </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        
        <mat-toolbar color="primary">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <!-- *ngIf="isHandset$ | async" -->
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Study Circle</span>
          <span class="example-spacer"></span>
          <button mat-raised-button (click)="logout()" >Logout</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <ng-content>
         
        </ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  
    <!-- <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'push' : 'push'" [opened]="!(isHandset$ | async)">
          <mat-toolbar color="primary">Menu</mat-toolbar>
          <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
          </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container> -->