
<mat-toolbar color="primary">
    <mat-toolbar-row>
     <h1  >
       StudyCircle
     </h1>
     <span class="space"></span>   
   
      <button  (click)="this.router.navigate(['signup'])" style="margin:10px" mat-raised-button color='secondary'>
        SignUp
      </button>
      <button   (click)="this.router.navigate(['login'])" style="margin:10px" mat-raised-button color='secondary'>
        Login
      </button>
    
    </mat-toolbar-row>
   </mat-toolbar>
   
     
   <router-outlet></router-outlet>
   
     
   