<div class="container">
    <br>
   <table  class="table table-bordered table-condensed">
       
       <tr class="thead-dark">
           <th>
               <h1>Name</h1>
           </th>
           <th>
               <h1>Start Date</h1> 
           </th>
           <th>
               <h1>Start Time</h1>
               
           </th>
           <th>
               <h1> Register</h1>
           </th>
       

       </tr>
       <tr>
           <td>
               <h2>A</h2>
           </td>
           <td>
               <h2>08/11/20</h2>
           </td>
           <td>
               <h2>07:00</h2>
           </td>
           <td>
               <h2><button mat-raised-button color='secondary'>Register</button></h2>
           </td>

       </tr>
     </table>
</div>
   
 
  